<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- questo è soltanto un esempio, al posto di creare un file di properties, è meglio usare un file.xml per la Config del log4j-->
	<!-- Appenders - Below is a basic XML configuration file for log4j in XML format:-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
      
	<!-- Application Loggers -->
	<logger name="com.bootstrap.controller">
		<level value="info" />
	</logger>
        <logger name="com.mongodb.util">
		<level value="info" />
	</logger>
         <logger name="com.bootstrap.mongodata">
		<level value="info" />
	</logger>
        
        
	<logger name="com.bootstrap.controller">
		<level value="error" />
	</logger>
        <logger name="com.mongodb.util">
		<level value="error" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
        
        
	
</log4j:configuration>



<!-- originale 
<?xml version="1.0" encoding="UTF-8"?>


To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--> 
<!--
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

 -->

    <!-- Appenders  

    <appender name="console" class="org.apache.log4j.ConsoleAppender">

        <param name="Target" value="System.out" />

        <layout class="org.apache.log4j.PatternLayout">

            <param name="ConversionPattern" value="%-5p: %c - %m%n" />

        </layout>

    </appender>-->

    <!-- Application Loggers 

    <logger name="com.avaldes">

        <level value="info" />

    </logger>-->

    <!-- Root Logger -->
<!--
    <root>

        <priority value="warn" />

        <appender-ref ref="console" />

    </root>







</log4j:configuration>
-->